---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Arbejde from '../components/Arbejde.astro';
---
<MainLayout title="Titel">
	<!-- buttons; -->
	<!-- <Button variant="primary" size="small">plastic change</Button>
	<Button variant="secondary" size="large">plastic change</Button> -->
	<section class="relative grid grid-cols-5 grid-rows-5 h-screen items-center justify-center">
		
		<img src="ocean1.webp" class="col-start-1 col-span-5 row-start-1 row-span-5 z-0">
		<img src="bag.webp" class="col-start-1 col-span-5 row-start-1 row-span-5 z-20">
		<img src="turtle1.webp" class="col-start-4 col-span-3 row-start-3 row-span-2 vibrate-3 z-10">
	
		<!-- Centered Text and Button -->
		<div class="absolute inset-0 flex items-center justify-center">
			<div class="z-20 text-center text-white">
				<h1 class="text-6xl pb-5">Vores verden kan ikke holde til mere unødvendig plastik.</h1>
				<Button variant="secondary" size="large">plastic change</Button>
			</div>
		</div>
	</section>
	<article id="vivill" class="max-w-screen-xl mx-auto px-4">
		<section class="grid grid-cols-2">
			<div>
				<h2 class="text-7xl">What we want</h2>
				<p class="w-40">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, minima ut ab iure suscipit odit non dolore aperiam voluptatem, quas laboriosam accusantium, voluptatibus ipsa ipsum. Voluptates modi alias maxime voluptatem.</p>
				<img src="turtl.svg" alt="bitmap" class="w-64 h-96">
			</div>
			<div>
				<!-- Video on hover instead of the image. poster="image.png">??? -->
				<section id="videoonhover" x-data class="max-w-4xl mx-auto mt-32">
					<video width="1280" height="960" x-ref="hovervideo" 
						   @mouseenter="$refs.hovervideo.play()" 
						   @mouseleave="$refs.hovervideo.pause()" 
						   poster="">
						<source src="pcvideo.mp4" type="video/mp4">
					</video>
				</section>
			</div>
		</section>
		<section class="grid grid-cols-2">
			<div>
				<h2 class="text-7xl">What we want</h2>
				<p class="w-40">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, minima ut ab iure suscipit odit non dolore aperiam voluptatem, quas laboriosam accusantium, voluptatibus ipsa ipsum. Voluptates modi alias maxime voluptatem.</p>
				<img src="pc_logo.svg" alt="bitmap" class="w-64">
			</div>
			<div>
				<!-- Video on hover instead of the image. poster="image.png">??? -->
				<section id="videoonhover" x-data class="max-w-4xl mx-auto mt-32">
					<video width="1280" height="960" x-ref="hovervideo" 
						   @mouseenter="$refs.hovervideo.play()" 
						   @mouseleave="$refs.hovervideo.pause()" 
						   poster="">
						<source src="pcvideo.mp4" type="video/mp4">
					</video>
				</section>
			</div>
		</section>

		<section class="my-80 mangeelementerinview grid grid-cols-3 gap-12">
			<div class="mangeelementer1">
				<img src="/image.png" alt="Bild 1" class="object-cover w-full h-full">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam.</p>
			</div>
			<div class="mangeelementer2">
				<img src="/image.png" alt="Bild 2" class="object-cover w-full h-full">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam.</p>
			</div>
			<div class="mangeelementer3">
				<img src="/image.png" alt="Bild 3" class="object-cover w-full h-full">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam.</p>
			</div>
		</section>
		
		<section id="omos" >
			<h2>Våres arbejde</h2>
			<Arbejde class="border-b-2 border-black" caption="Mod et affaldsfrit samfund" image="image.png" bio="I 2017 blev der produceret svimlende 322 millioner tons plastik på verdensplan, og produktionen af plastik forventes at firedobles inden 2050. Samtidig vil det udledte plastikaffald til havmiljøet fordobles inden 2030. Knap 40% af den plastik, der produceres, er plastik til fødevareemballage. En stor andel heraf er engangsplastik - det vil sige plastik, der ikke kan genbruges eller genanvendes. Dens skæbne består enten af afbrænding, ophobes på åbne lossepladser, eller i værste tilfælde ender som plastikforurening i verdenshavene. Plastic Change er blandt andet sat i søen for at forhindre, at noget af dette sker." />
			<Arbejde class="border-b-2 border-black" caption="Section 1" image="image.png" bio="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
		</section>
		<section id="uppståndelsen">
			<div class="overflow-clip"></div>
			<h2 class="text-5xl text-center pb-8 ">Sådan opstod miljøorganisationen Plastic Change</h2>
				<section id="horisontalscrollsection" class="h-[400vw]">
					<ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
						<li class="pl-5 flex w-[100vw] items-start justify-center flex-col flex-grow-0 flex-shrink-0 flex-auto">
 						 <figure class="relative flex flex-row w-[1200px]">
 						   <img src="/image.png" alt="" class="w-2/3" />
 						   <figcaption class="absolute top-[355px] left-0 pl-4 p-2 w-full max-w-[800px] text-black font-bold text-[42px] leading-[44px] mix-blend-overlay">
 						     “Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid”
 						     (Henrik Beha Pedersen, 2014)
 						   </figcaption>
 						 </figure>
							</li>	  
						  <li class="flex w-[100vw] mb-9 items-start justify-center flex-col flex-grow-0 flex-shrink-0 flex-auto">
							<figure class="relative flex flex-row w-[1200px]">
							  <img src="/image.png" alt="" class="w-2/3"/>
							  <figcaption class="absolute top-[355px] left-0 pl-4 p-2 w-full max-w-[800px] text-black font-bold text-[42px] leading-[44px] mix-blend-overlay">
								“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid”
								(Henrik Beha Pedersen, 2014)
							  </figcaption>
							</figure>
						  </li>
						  <li class="flex w-[100vw] mt-9 items-start justify-center flex-col flex-grow-0 flex-shrink-0 flex-auto">
							<figure class="relative flex flex-row w-[1200px]">
							  <img src="/image.png" alt="" class="w-2/3"/>
							  <figcaption class="absolute top-[355px] left-0 pl-4 p-2 w-full max-w-[800px] text-black font-bold text-[42px] leading-[44px] mix-blend-overlay">
								“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid”
								(Henrik Beha Pedersen, 2014)
							  </figcaption>
							</figure>
						  </li>
						  <li class="flex w-[100vw] items-start justify-center flex-col flex-grow-0 flex-shrink-0 flex-auto">
							<figure class="relative flex flex-row w-[1200px]">
							  <img src="/image.png" alt="" class="w-2/3"/>
							  <figcaption class="absolute top-[355px] left-0 pl-4 p-2 w-full max-w-[800px] text-black font-bold text-[42px] leading-[44px] mix-blend-overlay">
								“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid”
								(Henrik Beha Pedersen, 2014)
							  </figcaption>
							</figure>
						  </li>
						  <li class="flex w-[100vw] mb-9 items-start justify-center flex-col flex-grow-0 flex-shrink-0 flex-auto">
							<figure class="relative flex flex-row w-[1200px]">
							  <img src="/image.png" alt="" class="w-2/3"/>
							  <figcaption class="absolute top-[355px] left-0 pl-4 p-2 w-full max-w-[800px] text-black font-bold text-[42px] leading-[44px] mix-blend-overlay">
								“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid”
								(Henrik Beha Pedersen, 2014)
							  </figcaption>
							</figure>
						  </li>
						  
					</ul>
				</section>
		</section>
	<section id="partners">
		<h1>PARTNER BANNER</h1>
	</section>
	<section id="nyhedsbrev">
<h1>NYHEDSBREV</h1>
	</section>
	
</MainLayout>

<!--horisontal scroll bidler -->
<script>
	import { animate, scroll } from 'motion';
		scroll(
	animate("#horisontalliste", {
		transform: ["none", "translateX(-500vw)"]
	}),
	{ target: document.querySelector("#horisontalscrollsection") }
	); 
</script>
<script>
	import { inView } from "motion";
	import { animate } from 'motion';
	
	/* Animation för tre element */
	inView(".mangeelementerinview", () => {
		animate(".mangeelementer1", { x: [-1000, 0], y: [-50, 0] }, { duration: 1 });
		animate(".mangeelementer2", { x: [-800, 0], y: [-100, 0] }, { duration: 2 });
		animate(".mangeelementer3", { x: [800, 0], y: [50, 0] }, { duration: 2.5 });

		return () => {
			animate(".mangeelementer1", { x: [-1000, 0], y: [-50, 0] }, { duration: 1 });
			animate(".mangeelementer2", { x: [-800, 0], y: [-100, 0] }, { duration: 2 });
			animate(".mangeelementer3", { x: [800, 0], y: [50, 0] }, { duration: 2.5 });
		};
	});
</script>