---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<Button variant="primary" size="small">plastic change</Button>
	<Button variant="secondary" size="large">plastic change</Button>
	<section></section>
	<article class="max-w-screen-xl mx-auto px-4">
		<section>
			<div>
				<h2>What we want</h2>
				<p class="w-40">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, minima ut ab iure suscipit odit non dolore aperiam voluptatem, quas laboriosam accusantium, voluptatibus ipsa ipsum. Voluptates modi alias maxime voluptatem.</p>
			<img src="pc_logo.svg" alt="bitmap">
			</div>
			<div>
				<img src="image.png" alt="bild... psyke">
				<!--
		<video src=""></video> -->
			</div>
		</section>
		<section class="grid grid-cols-3">
	<div><img src="" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam </p></div>
	<div><img src="" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam </p></div>
	<div><img src="" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cumque sed voluptatem qui accusamus similique ullam quibusdam </p></div>
		</section>
		<section>
			<h2>Våres arbejde</h2>
			<article>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
				<h3>Mod et affaldsfrit samfund</h3>
			</article>
		</section>
		<section>
			<div class="overflow-clip"></div>
			<h2>Sådan opstod miljøorganisationen Plastic Change</h2>
				<section id="horisontalscrollsection" class="h-[400vw]">
					<ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
					<li class="pl-0 flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><img src="/pc_logo.svg" alt="" class="w-2/3"/><figcaption class="pl-4 italic w-1/3">Pierre Falcke, selvportræt</figcaption></figure></li>
					<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><img src="/pc_logo.svg" alt="" class="w-2/3" /><figcaption class="pl-4 italic w-1/3">Glitch kunst</figcaption></figure></li>
					<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><img src="/pc_logo.svg" alt="" class="w-2/3" /><figcaption class="pl-4 italic w-1/3">Dobbelteksponering med Smena</figcaption></figure></li>
					<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><img src="/pc_logo.svg" alt="" class="w-2/3" /><figcaption class="pl-4 italic w-1/3">Overeksponeret og ude af fokus</figcaption></figure></li>
					<li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><img src="/pc_logo.svg" alt="" class="w-2/3" /><figcaption class="pl-4 italic w-1/3">Tynd film</figcaption></figure></li>
					</ul>
				</section>
			</div>
		</section>
		<section>
			<h2>Hvad kan du gøre?</h2>
		<article>
			<div>
					<h4>Vær med i bevægelsen</h4>
					<ul>
						<li>World Cleanup day</li>
						<li>Støt nu</li>
						<li>Bliv medelem</li>
						<li>Arv og testamente</li>
						<li>Er du en Plastic Changer?</li>
					</ul>
			</div>
			<div>
				<h4>For virksomheder</h4>
				<ul>
					<li>Workshops og rådgivning</li>
					<li>Støt som virksomhed</li>
					<li>Bliv innovationspartner</li>
					<li>Book et foredrag til en tem</li>
				</ul>
		</div>
		<div>
			<h4>Hold dig opdateret</h4>
			<ul>
				<li>Nyhedsbrev</li>
				<li>Goda råd</li>
				<li>Events</li>
			</ul>
		</div>
		</article>
		</section>
	</article>
	<section>
		<h1>PARTNER BANNER</h1>
	</section>
	<section>
<h1>NYHEDSBREV</h1>
	</section>
	
</MainLayout>