---
// Få adgang til `variant`, `size`, og `href` fra props
const { variant = "primary", size = "medium", href } = Astro.props;

// Definér knap-styling
const buttonStyling = "py-4 px-4 rounded-md  border-2 md transition ease-in-out";
const variantClasses = {
  secondary: "text-white font-semibold  bg-cerice_ text-poppins  border-cerice_ hover:bg-white hover:text-cerice_",
  primary: "text-white font-semibold text-poppins tracking-tight border-graphite_light bg-graphite_light hover:bg-white hover:text-graphite_light",
};
const sizeClasses = {
  large: "text-4xl",
  medium: "text-2xl",
  small: "text-m",
};
---

<div>
  {
    href ? (
      <a href={href} class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
        <slot />
      </a>
    ) : (
      <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
        <slot />
      </button>
    )
  }
</div>

<!-- ---
const { variant = "primary", size = "medium" } = Astro.props;
const buttonStyling = "text-[var(--offwhite)] py-5 px-6 rounded-lg border-2 border-[var(--orange)] rounded md transition ease-in-out uppercase";
const variantClasses = {
    "primary": "hover:bg-[var(--orange)]",
    "secondary": ""
};

const sizeClasses = {
    "large": "text-4xl",
    "medium":"text-2xl",
    "small":"text-xs"
};
---
<div>
    <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div> -->
