---
---
<section class="my-10 mx-10 flex flex-row justify-between text-poppins">
    <div class="flex flex-col space-y-5">
       <div>
        <h4 class="text-lg pb-2">Kontakt</h4>
            <p>E-mail til info@plasticchange.org</p>
            <p>Ring til +45 42 66 72 46</p>
       </div>
    
       <div>
            <p>Telefontid.</p>
            <p>mandag - fredag</p>
            <p>10:00-15:00</p>
       </div>
        <p>Lavet af August&Nora</p>

    </div>
    <div class="flex flex-col space-y-6 mt-7 font-semibold list-none text-center">
        <li class="hover:opacity-75"><a href="#vivill">Plastikforurening</a></li>
        <li class="hover:opacity-75"><a href="#skade">Plastikkens skade</a></li>
        <li class="hover:opacity-75"><a href="#uppståndelsen">Hvad vi vil</a></li>
        <li class="hover:opacity-75"><a href="#vad">Hvad du kan gøre</a></li>
        <li class="hover:opacity-75"><a href="#partners">Våres partnere</a></li>
        <li class="hover:opacity-75"><a href="#nyhedsbrev">Nyhedsbrev</a></li>
        <li class="hover:opacity-75"><a href="#merch">Shop</a></li>
    </div>
    <div class="flex flex-col space-y-6">
        <img class="w-[28px]" src="/fb.svg" alt="facebook">
        <img class="w-[28px]" src="/ig.svg" alt="instagram">
        <img class="w-[28px]" src="/linkedin.svg" alt="linkedin">
        <img class="w-[28px]" src="/twitter.svg" alt="twitter">
        <img class="w-[28px]" src="/yt.svg" alt="youtube">
        
        <img class="mt-6 w-32 md:w-40" src="/pc_logo.svg" alt="logo">
    </div>
      
</section>