---
---
<section class="my-10 mx-10 flex flex-row justify-between text-poppins">
    <div class="flex flex-col space-y-5">
       <div>
        <h4 class="text-lg pb-2">Kontakt</h4>
            <p>E-mail til info@plasticchange.org</p>
            <p>Ring til +45 42 66 72 46</p>
       </div>
    
       <div>
            <p>Telefontid.</p>
            <p>mandag - fredag</p>
            <p>10:00-15:00</p>
       </div>
        <p>Lavet af August&Nora</p>
        <p>© 2024 Plastic Change</p>
        
        
    </div>
    <div class="flex flex-col space-y-6 mt-7 font-semibold">
        <a class="hover:text-lg" href="#vivill">What we want</a>
        <a class="hover:text-lg" href="#omos">Våres arbejde</a> 
        <a class="hover:text-lg" href="#uppståndelsen">Sådan opstod Plastic Change</a>
        <a class="hover:text-lg" href="#partners">Våres partnere</a>
        <a class="hover:text-lg" href="#nyhedsbrev">Nyhedsbrev</a>
    </div>
    <div class="flex flex-col">
        <p>ig</p>
        <p>fb</p>
        <p>linkdin</p>
        <img class="mt-6 w-32 md:w-40" src="/pc_logo.svg" alt="logo">
    </div>
      
</section>