---
import Button from '../components/Button.astro';
---
<div x-data="{ showmenu: false }" class="p-4 fixed top-0 w-full z-50">
    <div id="navbar" class="flex flex-row justify-between">
        <div id="logo">
            <a href="/">
                <img src="/pc_logo.svg" alt="logo" class="w-32 m:w-40 hover:opacity-75" />
            </a>
        </div>
        <Button variant="secondary" size="small">støt</Button>
        <button id="burgermenu" class="text-xs py-4 px-4 rounded-md border-2 transition ease-in-out text-white font-semibold text-poppins tracking-tight border-graphite_light bg-graphite_light hover:bg-white hover:text-graphite_light" x-on:click="showmenu = !showmenu"> 
            Menu
        </button>
    </div>
        <nav id="mobilmenu" class="fixed right-8 flex flex-col content-center pt-2" 
            x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
            <ul class="space-y-2 pt-5 pr-4 text-s py-4 px-4 rounded-md  border-2 text-white font-semibold text-poppins tracking-tight border-graphite_light bg-graphite_light hover:bg-white hover:text-graphite_light">
                <li class="hover:opacity-75"><a href="#vivill">What we want</a></li>
                <li class="hover:opacity-75"><a href="#omos">Våres arbejde</a></li>
                <li class="hover:opacity-75"><a href="#uppståndelsen">Sådan opstod Plastic Change</a></li>
                <li class="hover:opacity-75"><a href="#partners">Våres partnere</a></li>
                <li class="hover:opacity-75"><a href="#nyhedsbrev">Nyhedsbrev</a></li>
            </ul>
        </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>